/* General Styles */
.banner {
  background-position: center;
  padding: 2vw;
  color: #ffffff;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);

}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: -1;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding-bottom: 0px;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo-img {
  width: 25vw; /* Use vw for width */
  height: auto; /* Maintain aspect ratio */
  background-color: transparent;
  align-self: left;
  margin-left: -8vw; /* Adjust margin with vw */
  margin-bottom: 2vw;
}

.menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: -2vw;
  padding-top: -1vw;
  /* margin-top: -6.12vw; */
}

.menu li {
  margin-right: 3vw;
  margin-bottom: 5.5vw;
}

.menu li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw; /* Responsive font size */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

/* Style for the active menu item */
.menu li a.active {
  color: #f8cf40; /* Yellow color for the active menu item */
}
.menu li a:hover {
  color: #f8cf40;
}

.contact-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2vw; /* Responsive font size */
  color: #ffffff;
  width: 10vw;
  padding: 1vw 1.5vw;
  text-transform: uppercase;
  border-radius: 2vw;
  border: 3px solid #f8cf40;
  margin-right: 1.5vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5.5vw;
}

.banner-header {
  text-align: left;
  padding: 8vw 0; /* Responsive padding */
}

.banner-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 4vw; /* Responsive font size */
  color: #f8cf40;
  font-weight: bold;
  /* margin-top: -3.12vw; */
  margin-left: 40px;
}

.banner-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw; /* Responsive font size */
  color: #ffffff;
  /* margin-top: 1vw; */
  z-index: 1;
  /* margin-top: -3vw; */
  margin-left: 40px;
}
/* Larger Screen Styles */
/* @media  (min-width: 1901px) and (max-width: 2050px) {
  .navbar {

  }
}
@media  (min-width: 1660px) and (max-width: 1900px) {
  .navbar {

  }
} */
/* @media (min-width: 1440px) {
  .banner {
    padding: 5vw; 
     margin-top: -1vw;
  }

  .logo-img {
    width: 25vw; 
    margin-left: -6vw;
  
  }

  .menu li a {
    font-size: 2vw;
  }

  .contact-button {
    font-size: 1vw; 
    padding: 1vw 2vw;
    width: 8vw;
  }

  .banner-title {
    font-size: 3vw; 
    margin-left: 5vw;
  }

  .banner-subtitle {
    font-size: 2vw;
    margin-left: 5vw;
  }

  .menu {
    margin-left: 0;
  }

  .menu li {
    margin-right: 2vw;
  }

  .banner-header {
    padding: 6vw 0; 
  }
} */

/* Tablet styles */
@media (max-width: 1024px) {
  .menu-tablet {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }

  .title-tablet {
    font-size: 6vw; /* Responsive font size */
  }

  .subtitle-tablet {
    font-size: 3vw; /* Responsive font size */
  }
  .contact-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7vw; /* Responsive font size */

  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .navbar-mobile {
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw;
  }

  .menu-mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-mobile li {
    margin-bottom: 3vw;
  }

  .logo-img {
    width: 25vw; /* Adjusted for mobile */
    margin-left: 0;
  }

  .contact-button {
    font-size: 2.2vw; /* Responsive font size */
    padding: 1.5vw 2.5vw;
    width: 20%;
    margin-top: -20px;
  }

  .title-mobile {
    font-size: 3vw; /* Responsive font size */
    /* margin-top: -40px; */
  }

  .subtitle-mobile {
    font-size: 2vw; /* Responsive font size */
    /* margin-top: -60px; */
  }
  /* .banner-title {
    font-size: 2.2vw;
    margin-bottom: 3vw;
    
  }
  .banner-subtitle{
    font-size: 2.2vw;
    margin-bottom: 3vw;
  } */
}
