/* Container for the entire Celebrate section */
.celebrate-section {
  background-color: #1f2122;
  padding: 40px 20px;
  text-align: center;
}

/* Title styling */
.celebrate-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
}

/* Adding the line above the title */
.celebrate-title::before {
  content: '';
  width: 40%;
  max-width: 720px;
  height: 5px;
  background-color: #f8cf40;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Reward cards container */
.reward-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Individual card styling */
.card {
  background-color: #1f2122;
  border: 2px solid #f8cf40;
  padding: 25px;
  width: 85%;
 max-height: max-content;
  /* max-width: 300px; */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
 
}

/* Title inside card */
.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Subtitle inside card */
.card-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* List inside card */
.card-list {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #ebf1ec;
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
}

.card-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Adding the checkmark next to list items */
.card-list li::before {
  content: '✔';
  color: #13ab25;
  margin-right: 10px;
  font-size: 22px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .celebrate-title {
    font-size: 40px;
  }

  .reward-cards {
    gap: 15px;
  }

  .card {
    padding: 20px;
    max-width: 100%; /* Cards take full width on smaller screens */
  }

  .card-title {
    font-size: 25px;
  }

  .card-subtitle {
    font-size: 18px;
  }

  .card-list {
    font-size: 16px;
    padding: 15px;
  }
}

@media screen and (max-width: 480px) {
  .celebrate-title {
    font-size: 30px;
  }

  .card {
    padding: 15px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-subtitle {
    font-size: 16px;
  }

  .card-list {
    font-size: 14px;
    padding: 10px;
  }
}
