.stay-updated-section {
  display: flex;
  justify-content: space-between; /* Align content and subscribe box side by side */
  align-items: center;
  background-color: #f2efeb;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 6vw;
  padding-left: 4vw;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto; /* Center the content horizontally */
}

.content {
  text-align: left;
  flex: 1; /* Allow content to take available space */
  margin-top: 1vh;
  padding-left: 2vw;
}

.content h2 {
  font-size: 2vw;
  color: #000000;
  font-weight: bold;
}

.content p {
  font-size: 1.5vw;
  color: #000000;
}

.subscribe-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2efeb;
  border: 0.4vw solid #000000;
  padding: 1vw;
  border-radius: 1vw; /* Oblong shape */
  width: 40vw; /* Fixed width for subscribe box */
  flex-shrink: 0; /* Prevent subscribe box from shrinking */
}

.subscribe-box :placeholder {
  color: #000000;
}

.email-input {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1vw;
  color: #000000;
  background-color: #dce3e5;
  border: none;
  padding: 0.8vw;
  width: 70%;
  border-radius: 1vw;
  outline: none;
  height: 2.5vh;
}

.subscribe-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  color: #000000;
  background-color: #f6cd46;
  border: none;
  border-radius: 2vw;
  padding: 0.8vw 1.6vw;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 10vw;
}

@media (max-width: 768px) {
  .stay-updated-section {
    flex-direction: column; /* Stack content vertically on smaller screens */
    align-items: flex-start;
  }

  .subscribe-box {
    width: 90%;
    margin-top: 2vh;
  }

  .email-input {
    width: 50%;
  }
}
