.story-section {
    padding: 20px 5px;
    background-color: #222; /* Dark background */
    color: white; /* White text */
    text-align: center;
    
  }
  
  .story-section-title {
    color: #f8cf40; /* Yellow color */
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .story-section-subtitle {
    font-size: 25px;
    color: #dcdcdc; /* Light gray color */
    margin-bottom: 30px;
  }
  
  .story-content-wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .story-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
  }
  
  .story-image-container {
    flex: 1;
    position: relative;
    padding-bottom: 30px;
  }
  
  .story-image {
    width: 190%;
    border: 10px solid #f8cf40; /* Yellow border */
    border-right: none;
    border-bottom: none;
  }
  
  .story-text-container {
    flex: 2;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    padding-left: 280px;
  }
  .text-container2 {
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
  }
  
  .story-text-container p {
    margin-bottom: 10px;
  }
  
/* Responsive Adjustments */
@media (max-width: 1024px) {
  .story-section-title {
      font-size: 35px;
  }

  .story-section-subtitle {
      font-size: 22px;
  }

  .story-image {
      width: 100%;
      max-width: 400px;
  }

  .story-text-container {
      padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .story-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .story-image {
      width: 80%;
      max-width: 350px;
      margin-bottom: 20px;
  }

  .story-text-container {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
  }

  .story-section-title {
      font-size: 30px;
  }

  .story-section-subtitle {
      font-size: 20px;
  }
}

@media (max-width: 480px) {
  .story-section-title {
      font-size: 25px;
  }

  .story-section-subtitle {
      font-size: 18px;
  }

  .story-content-wrapper {
      max-width: 100%;
  }

  .story-image {
      width: 100%;
      max-width: 100%;
  }

  .story-text-container {
      font-size: 18px;
      line-height: 1.5;
      padding: 0;
  }
}