/* General layout styling */
.treasure-hint-section {
  background-color: #1f2122;
  padding: 4vw; /* Adjusted for responsiveness */
  text-align: center;
  color: #fff;
}

.header1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 5vw; /* Adjusted for responsiveness */
  color: #f8cf40;
  text-transform: uppercase;
  margin-bottom: 2vw; /* Adjusted for responsiveness */
}

.paragraph1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw; /* Adjusted for responsiveness */
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 4vw; /* Adjusted for responsiveness */
}

/* Main container for the role cards */
.roles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7vw; /* Adjusted for responsiveness */
  justify-items: center;
}

/* Responsive container classes */
.roles-container-tablet {
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw; /* Adjusted for responsiveness */
}

.roles-container-mobile {
  grid-template-columns: 1fr;
  gap: 2vw; /* Adjusted for responsiveness */
}

/* Individual role card */
.role-card {
  background-color: #2c2f33;
  border: 0.2vw solid #f8cf40; /* Adjusted for responsiveness */
  padding: 2.5vw; /* Adjusted for responsiveness */
  width: 100%; /* Keep 100% for better responsiveness */
  max-width: 50vw; /* Adjusted for responsiveness */
  max-height: 40vw; /* Adjusted for responsiveness */
  text-align: center;
  transition: transform 0.3s ease;
}

.role-card:hover {
  transform: scale(1.05);
}

.role-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5vw; /* Adjusted for responsiveness */
}

/* Ensure the images are responsive */
.role-image {
  width: 100%;
  height: auto;
  max-height: 26vw; /* Adjusted for responsiveness */
  object-fit: cover;
  border: 0.2vw solid #f8cf40; /* Adjusted for responsiveness */
}

/* Title and description styling */
.role-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3.4vw; /* Adjusted for responsiveness */
  color: #f8cf40;
  text-transform: uppercase;
  margin-bottom: 1vw; /* Adjusted for responsiveness */
}

.role-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6vw; /* Adjusted for responsiveness */
  color: #ffffff;
  margin-top: 0.5vw; /* Adjusted for responsiveness */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .header1 {
    font-size: 5vw;
  }

  .paragraph1 {
    font-size: 2.5vw;
  }

  .role-card {
    max-width: 30vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header1 {
    font-size: 4vw;
  }

  .paragraph1 {
    font-size: 2vw;
  }

  .role-card {
    max-width: 25vw;
  }
}

@media (max-width: 767px) {
  .header1 {
    font-size: 3.5vw;
  }

  .paragraph1 {
    font-size: 1.8vw;
  }

  .role-image {
    max-height: 25vw;
  }

  .role-card {
    max-width: 60%;
  }
}
