.values-section {
    background-color: #1c2120;
    color: #f8cf40;
    text-align: center;
    padding: 50px 20px;
  }
  
  .values-section h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    color: #f8cf40;
    margin-bottom: 20px;
  }
  
  .values-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .value-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .value-card {
    display: flex;
    align-items: flex-start;
    background-color: #1f2122;
    color: #ffffff;
    margin: 10px;
    width: 100%;
  }
  
  .card1-image {
    width: 430px; height: 337px; object-fit: fill;
    /* margin-right: 20px; */
    border-left: 15px solid #f8cf40;
    border-bottom: 15px solid #f8cf40;
    /* padding-left: 10px; */

  }
  .card2-image {
    width: 430px; height: 337px; object-fit: fill;
    /* margin-right: 20px; */
    border-right: 15px solid #f8cf40;
    border-bottom: 15px solid #f8cf40;
    border-left: none;
  }
  
  .value-card-text {
    text-align: left;
    margin-left: 90px;
    margin-top: 90px;
    margin-right: 80px;
  }
  
  .value-card h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  
  .value-card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #d3d3d3;
  }
  
  /* Responsive Adjustments */
@media (max-width: 1024px) {
  .values-section h2 {
      font-size: 35px;
  }

  .values-section p {
      font-size: 22px;
      margin: 0 20px;
  }

  .value-card h3 {
      font-size: 23px;
  }

  .value-card p {
      font-size: 18px;
  }
}

@media (max-width: 768px) {
  .value-cards {
      flex-direction: column;
      align-items: center;
  }

  .value-card {
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 20px;
  }

  .value-card-text {
      text-align: center;
      margin: 0;
  }

  .values-section h2 {
      font-size: 30px;
  }

  .values-section p {
      font-size: 20px;
  }

  .card1-image, .card2-image {
      width: 100%;
      height: auto;
  }
}

@media (max-width: 480px) {
  .values-section h2 {
      font-size: 25px;
  }

  .values-section p {
      font-size: 18px;
  }

  .value-card h3 {
      font-size: 20px;
  }

  .value-card p {
      font-size: 16px;
  }

  .value-card-text {
      padding: 10px;
  }
}