.vip-privileges-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f2122;
  padding: 2vw; /* Adjusted for responsiveness */
}

.vip-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.vip-image-left {
  width: 35vw; /* Increased size and adjusted for responsiveness */
  height: 20vw; /* Adjusted to maintain aspect ratio */
  object-fit: cover;
  border: 0.4vw solid #f8cf40; /* Adjusted for responsiveness */
  border-right: none;
  margin: 0 1vw; /* Adjusted for responsiveness */
}

.vip-image-right {
  width: 35vw; /* Increased size and adjusted for responsiveness */
  height: 20vw; /* Adjusted to maintain aspect ratio */
  object-fit: cover;
  border: 0.4vw solid #f8cf40; /* Adjusted for responsiveness */
  border-left: none;
  margin: 0 1vw; /* Adjusted for responsiveness */
}

.vip-text-container {
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
  top: 30%;
}

.vip-heading {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.4vw; /* Adjusted for responsiveness */
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.1vw; /* Adjusted for responsiveness */
}

.vip-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4vw; /* Adjusted for responsiveness */
  color: #ffffff;
  opacity: 0.8;
  text-align: center;
  position: relative;
  padding-bottom: 4vw; /* Adjusted for responsiveness */
}

.vip-bottom-image-container {
  display: flex;
  justify-content: center;
  margin-top: -3vw; /* Adjusted for responsiveness */
}

.vip-image-bottom {
  width: 30vw; /* Increased size and adjusted for responsiveness */
  height: 20vw; /* Adjusted to maintain aspect ratio */
  object-fit: cover;
  border: 0.4vw solid #f8cf40; /* Adjusted for responsiveness */
  border-top: none;
  position: relative;
  z-index: 1;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .vip-heading {
    font-size: 2.2vw;
  }

  .vip-paragraph {
    font-size: 1.4vw;
    padding-bottom: 3vw;
  }

  .vip-image-left,
  .vip-image-right,
  .vip-image-bottom {
    width: 16vw; /* Increased size */
    height: 9.6vw; /* Adjusted to maintain aspect ratio */
  }
}

@media (max-width: 768px) {
  /* .vip-images-container {
    /* flex-direction: column; 
  } */

  .vip-image-left,
  .vip-image-right,
  .vip-image-bottom {
    width: 14vw; 
    height: 8.4vw;
  }

  .vip-heading {
    font-size: 2.5vw;
  }

  .vip-paragraph {
    font-size: 2.2vw;
  }
}

@media (max-width: 480px) {
  .vip-image-left,
  .vip-image-right,
  .vip-image-bottom {
    width: 12vw; /* Increased size */
    height: 7.2vw; /* Adjusted to maintain aspect ratio */
  }

  .vip-heading {
    font-size: 1.8vw;
  }

  .vip-paragraph {
    font-size: 1.2vw;
    padding-bottom: 2.5vw;
  }
}
